---
---
$primary: #c6c1b9;
// $primary: #1f1f1f;
$body-background-color: #181a1b;
// $body-background-color: #ffc52a;
$text: #c6c1b9;
//$text: #1f1f1f;
$footer-background-color: #1f1f1f;
$footer-color: #dfdfdf;
// $scheme-main: #3f3f3f;
// Import Main CSS file from theme
@import "main";
