---
layout: blog
title: Blog
hero_image: https://kavotaman.github.io/img/Otavio MK 6.jpg
my_variable: https://kavotaman.github.io/blog/index.html
---
<section class="section">
    <div class="container">
        <div class="columns">
            <!--             <div class="column is-4-desktop is-12-tablet"> -->
            <!--                 <div class="columns is-multiline"> -->
            <!--                     <div class="column is-12"> -->
            <!--                         <aside class="menu"> -->
            <!--                             <p style="color: #1f1f1f;font-weight: bold;font-size: x-large;">Archive</p> -->
            <!--                             <ul> -->
            <!--                                 {% for post in site.posts %} -->
            <!--                                 <li> -->
            <!--                                     <h2>{{ post.date | date: "%Y, %b %d" }} - <a -->
            <!--                                             href="{{ post.url }}">{{ post.title }}</a> -->
            <!--                                     </h2> -->

            <!--                                 </li> -->
            <!--                                 {% endfor %} -->
            <!--                             </ul> -->


            <!--                         </aside> -->
            <!--                     </div> -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--         </div> -->
            <div class="column is-4-desktop is-12-tablet">
                <div class="columns is-multiline">
                    <div class="column is-12">
                        <div class="card" style="background-color: #FCF6B1;">

                            <header class="card-header" style="background-color: #9E6E40;">
                                <a class="card-header-title"
                                    style="font-family: 'Courier New', Courier, monospace;">Arquivo</a>
                            </header>

                            <div class="card-content">
                                <div class="content"
                                    style="font-size: xx-small; font-family: 'Courier New', Courier, monospace;">
                                    <ul>
                                        {% for post in site.posts %}
                                        <li>
                                            <h2>{{ post.date | date: "%Y/%b/%d" }} - <a
                                                    href="/br{{ post.url }}">{{ post.title }}</a>
                                            </h2>

                                        </li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
